@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Concert+One&family=Montserrat:wght@500&display=swap');

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    font-family: 'Concert One', cursive;
    background: #659999;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #f4791f, #659999);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #f4791f, #659999);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.content {
    width: 100%;
}

.displayTurn,
.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-bottom: 2rem;
    font-size: 2rem;
    color: #fff;
}

.displayTurn {
    height: 100px;
    padding: 0px 10px 10px 10px;
    font-size: 2.5rem;
}

.buttons {
    display: flex;
    gap: 20px;
    cursor: pointer;
    height: 20px;
    padding-bottom: 3rem;
}

.btn {
    transition: all 0.2s ease-in-out;
}

.btn:hover {
    font-size: 2.3rem;
}

.gameboard {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(3, minmax(100px, 150px));
    grid-template-rows: repeat(3, 150px);
    gap: 1rem;
}

.box {
    /* min-height: 150px;  */
    border-radius: 1rem;
    font-size: max(4vw, 3rem);
    font-family: 'Montserrat', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgba(0, 200, 255, 0.9);
    color: white;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}

.box:hover {
    transform: scale(1.1);
}

/* DAQUI PRA BAIXO É O FORMULARIO (dialog) */
#modal {
    outline: none;
    border-style: none;
    background-color: rgba(0, 0, 0, 0);
    
}

#modal>h1 {
    /* TITULO DO JOGO (jogo da velha) game's title (tic tac toe)*/
    text-align: center;
    font-size: 4em;
    margin-bottom: 5px;
}

.styleModal {
    padding: 40px;
    background-color: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(5px);
    outline: none;
    border-style: none;
    border: 1px solid black;
    border-radius: 8px;
}

#modal::backdrop {
    backdrop-filter: blur(5px);
}

.inputField {
    display: flex;
    align-items: center;
    font-size: max(1.83em, 25px);
    width: 100%;
    padding-bottom: 3rem;
}

.formClass {
    height: 2rem;
    margin-left: 2rem;
    background-color: rgba(201, 201, 201, 0.678);
    border: 0.1rem solid #fff;
    border-radius: 1rem;
    outline: none;
    padding: 0.5rem;
    color: black;
    font-size: 2rem;
    font-family: 'Bangers', cursive;
    width: 50%;
}

.input-label {
    min-width: 50%;
    color: #2bffff;
    border-radius: 5px;
}

.radio {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    width: 200px;
}

input[type="radio"] {
    border: 0px;
    width: 1.5rem;
    height: 1.5rem;
    margin-left: 2rem;
}

.btnSubmit {
    display: flex;
    justify-content: center;
    align-items: center;
}


.startButton {
    height: 4rem;
    width: 200px;
    outline: none;
    background-color: rgba(201, 201, 201, 0.678);
    border: 0.1rem solid #fff;
    border-radius: 1rem;
    font-family: 'Bangers', cursive;
    color: rgb(18, 64, 26);
    font-size: 1.5rem;
    font-weight: 500;
    transition: all 0.2s ease-in-out;
}

.startButton:hover {
    font-size: 2rem;
    cursor: pointer;
}

@media (width < 800px) {
    .gameboard {
        padding: 0px 15px 0px 15px;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows:repeat(3,150px) ;
    }

    .buttons {
        cursor: auto;
    }
    #modal{
        width: 100%;
    }
    #modal>h1 {
        /* TITULO DO JOGO (jogo da velha) game's title (tic tac toe)*/
        text-align: center;
        font-size: 3.5em;
        margin-bottom: 5px;
    }

    .styleModal {
        padding:10px;
    }

    .inputField {
        flex-direction: column;
        font-size: 2em;
        gap: 10px;
        padding-bottom: 1rem;
    }
    input[type="radio"] {
        margin: 0;        
    }
    .formClass {
        margin: 0;
        width: 80%;
    }

    .box {
        cursor: auto;
    }
}

@media (width<500px){
    .gameboard {
        grid-template-rows:repeat(3,100px) ;
    }
}